$font-main: "Roboto", sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
@import 'mixins';

a{
  text-decoration: inherit !important;
}
@media screen and (min-width: 400px){
  .xxs-only{
    display: none;
  }
}
body .ngdialog.ngdialog-theme-default {
  .ngdialog-content {
    background: transparent !important;
    height: 100%;
    width: 80%;
    max-width: 1000px;
    .ngdialog-close{
      display: none;
    }
    div{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }
}