.ninesixzero {
  max-width: 960px;
  width: 100%;
  margin: 0 auto; }

a {
  text-decoration: inherit !important; }

@media screen and (min-width: 400px) {
  .xxs-only {
    display: none; } }
h1.heading {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3em;
  line-height: 1.3em;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (max-width: 460px) {
    h1.heading {
      font-size: 2em; } }

h2.subheading {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 12px 62px 13px;
  text-align: center; }

body .ngdialog.ngdialog-theme-default .ngdialog-content {
  background: transparent !important;
  height: 100%;
  width: 80%;
  max-width: 1000px; }
  body .ngdialog.ngdialog-theme-default .ngdialog-content .ngdialog-close {
    display: none; }
  body .ngdialog.ngdialog-theme-default .ngdialog-content div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%; }

#header {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25); }
  #header .inside {
    display: flex; }
  #header #logo_main {
    display: inline-block;
    padding: 31px 54px 5px;
    position: relative;
    background: #1e3f59; }
    #header #logo_main svg {
      width: 212px;
      fill: #ffffff; }
    #header #logo_main:after {
      display: block;
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 20px;
      background: #1e3f59; }
  @media screen and (min-width: 981px) {
    #header nav {
      display: inline-flex;
      align-self: stretch;
      flex-grow: 1;
      justify-content: center; }
      #header nav ul {
        flex-grow: 1;
        margin: 0;
        align-self: stretch;
        display: flex;
        flex-direction: row; }
        #header nav ul li {
          align-self: stretch;
          display: flex;
          align-items: stretch; }
          #header nav ul li a {
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            padding-left: 18px;
            padding-right: 18px;
            display: flex;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-size: .875em;
            text-transform: uppercase;
            font-weight: 700;
            color: #1e3f59;
            position: relative; }
            #header nav ul li a:before {
              content: '';
              display: block;
              position: absolute;
              bottom: 24px;
              left: 0;
              right: 0;
              background: url("../images/icons/menu_arrow.svg") no-repeat center/contain;
              width: 11px;
              height: 9px;
              margin: auto;
              -webkit-transition: 0.2s;
              -moz-transition: 0.2s;
              -ms-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s; }
          #header nav ul li:not(.active):not(:hover) a {
            opacity: .5; }
          #header nav ul li:not(.active):not(:hover) a:before {
            -moz-transform: translateY(100%);
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            opacity: 0; }
      #header nav #drawer {
        display: none; } }
  @media screen and (max-width: 980px) {
    #header {
      height: 80px;
      display: flex;
      align-items: center;
      background: #1e3f59; }
      #header .ninesixzero {
        max-width: inherit; }
      #header #logo_main {
        z-index: 3;
        display: flex;
        align-items: center;
        padding: 0 0 0 20px; }
        #header #logo_main:after {
          display: none; }
        #header #logo_main svg {
          width: 134px; }
      #header .inside #nav {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      #header ul {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 50px;
        overflow: auto;
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -ms-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out; }
        #header ul li {
          background: #ffffff;
          display: block;
          position: relative;
          -webkit-transition: 0.1s;
          -moz-transition: 0.1s;
          -ms-transition: 0.1s;
          -o-transition: 0.1s;
          transition: 0.1s; }
          #header ul li:last-of-type:before {
            z-index: -1;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25); }
          #header ul li:not(:last-of-type) a:after {
            display: block;
            content: '';
            position: absolute;
            bottom: -1px;
            left: 20px;
            right: 20px;
            z-index: 2;
            background: #1e3f59;
            height: 1px;
            opacity: .2; }
          #header ul li a {
            display: block;
            padding: 21px 20px 19px 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 1.15em;
            color: #1e3f59;
            position: relative;
            -webkit-transition: 0.1s;
            -moz-transition: 0.1s;
            -ms-transition: 0.1s;
            -o-transition: 0.1s;
            transition: 0.1s; }
          #header ul li.active {
            background: #1e3f59; }
            #header ul li.active a {
              color: #ffffff; }
              #header ul li.active a:after {
                display: none; }
        #header ul:not(.active) {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%); }
      #header #drawer {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
        height: 42px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 42px; }
        #header #drawer .line {
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          display: block;
          flex-grow: 1;
          background: #ffffff;
          height: 2px; }
          #header #drawer .line:not(:last-of-type) {
            margin-bottom: 8px; }
        #header #drawer:hover, #header #drawer.active {
          background: #ffffff; }
          #header #drawer:hover .line, #header #drawer.active .line {
            background: #1e3f59; } }

#about {
  background: url("../images/backgrounds/bass.jpg") no-repeat center/cover #3e2723; }
  #about #about_inside {
    padding-top: 100px;
    padding-bottom: 100px; }
    #about #about_inside .image .inside {
      margin: 0 auto;
      border-radius: 20px;
      background: url("../images/icons/wlod.jpg") no-repeat center/contain;
      width: 140px;
      height: 140px;
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }
    #about #about_inside .text {
      color: #ffffff; }
      #about #about_inside .text h1 {
        margin-top: -4px;
        font-size: 1.5em;
        font-family: "Open Sans", sans-serif;
        font-weight: 700; }
      #about #about_inside .text hr {
        margin: 10px 0;
        border: 0;
        height: 2px;
        background: rgba(255, 255, 255, 0.1); }
      #about #about_inside .text p {
        font-size: .975em;
        line-height: 1.8em;
        font-family: "Open Sans", sans-serif;
        font-weight: 400; }
    @media screen and (max-width: 768px) {
      #about #about_inside {
        padding-top: 50px;
        padding-bottom: 50px; }
        #about #about_inside .image {
          margin-bottom: 40px; }
        #about #about_inside .text h1 {
          font-size: 2em;
          text-align: center; }
        #about #about_inside .text p {
          text-align: justify; } }
  @media screen and (min-width: 981px) {
    #about {
      margin-top: 120px; } }
  @media screen and (max-width: 980px) {
    #about {
      margin-top: 80px; } }

#repertoire .inside {
  padding: 47px 0 77px; }
  #repertoire .inside h1.heading {
    color: #3e2723;
    margin-top: 20px;
    margin-bottom: 34px; }
  #repertoire .inside .block h2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    background: #3e2723;
    color: #ffffff; }
  #repertoire .inside .block .columns {
    padding-top: 33px;
    padding-bottom: 33px; }
  #repertoire .inside .block .text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 1.125em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #1e3f59;
    line-height: 1.9em; }
    #repertoire .inside .block .text b {
      font-weight: 700; }
    #repertoire .inside .block .text a {
      margin-top: 6px;
      position: relative;
      left: 20px;
      height: 40px;
      padding: 0 42px;
      background: #1e3f59;
      display: inline-flex;
      align-items: center;
      color: #ffffff;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -ms-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
      #repertoire .inside .block .text a i {
        position: absolute;
        right: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 40px;
        height: 40px;
        background: rgba(30, 63, 89, 0.5);
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
        #repertoire .inside .block .text a i svg {
          width: 18px;
          height: 18px;
          fill: white;
          -webkit-transition: 0.1s;
          -moz-transition: 0.1s;
          -ms-transition: 0.1s;
          -o-transition: 0.1s;
          transition: 0.1s; }
      #repertoire .inside .block .text a:hover {
        background: #3e2723; }
        #repertoire .inside .block .text a:hover i {
          background: rgba(62, 39, 35, 0.5); }
  #repertoire .inside .block hr {
    margin: -2px 0 0;
    border: 0;
    height: 2px;
    background: #1e3f59;
    opacity: .2; }
@media screen and (max-width: 768px) {
  #repertoire .inside {
    padding-bottom: 10px; }
    #repertoire .inside .block {
      display: flex;
      flex-direction: column; }
      #repertoire .inside .block h2 {
        width: 50%;
        margin: 0 auto;
        padding: 12px 0 13px; }
      #repertoire .inside .block .text {
        text-align: justify; }
        #repertoire .inside .block .text a {
          padding: 0 42px 0 0;
          text-align: center;
          display: flex;
          justify-content: center;
          margin: 20px auto 0;
          width: 80%; } }
@media screen and (max-width: 460px) {
  #repertoire .inside .block h2 {
    width: 90%; }
  #repertoire .inside .block .text {
    font-size: 1em; } }

#about_se {
  background: #1e3f59;
  overflow: hidden;
  padding-top: 46px;
  padding-bottom: 42px; }
  #about_se h1 {
    color: #ffffff;
    margin-bottom: 46px; }
  #about_se .inside .sax svg {
    position: relative;
    top: 8px;
    left: 9px;
    width: 100%;
    max-width: 225px;
    fill: white; }
  #about_se .inside .right {
    padding: 0; }
    #about_se .inside .right h2 {
      padding: 12px 0 13px;
      width: 50%;
      margin: 0 0 33px;
      color: #1e3f59;
      background: #ffffff; }
  #about_se .inside hr {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 25px;
    border: 0;
    height: 2px;
    display: inline-block;
    background: #ffffff;
    opacity: .1; }
  #about_se .inside p {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.9em; }
    #about_se .inside p:not(:last-of-type) {
      margin-bottom: 26px; }
    #about_se .inside p.text {
      text-align: center; }
  @media screen and (max-width: 768px) {
    #about_se .inside .sax {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0 auto; }
    #about_se .inside .right {
      margin-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #about_se .inside .right h2 {
        width: 100%; }
    #about_se .inside hr {
      margin-top: 23px; }
    #about_se .inside .text {
      padding-left: 20px;
      padding-right: 20px;
      text-align: justify; } }

#locations {
  overflow: auto;
  padding-bottom: 61px; }
  #locations .inside h1 {
    margin-top: 47px; }
  #locations .inside hr {
    height: 2px;
    border: 0;
    background: #1e3f59;
    opacity: .2;
    margin-top: 33px;
    margin-bottom: 31px; }
  #locations .inside p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.6em;
    color: #1e3f59;
    text-align: center; }
  #locations .inside ul {
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 36px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center; }
    #locations .inside ul li {
      padding-left: 21px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.125em;
      color: #1e3f59;
      font-weight: 700; }
      #locations .inside ul li span {
        display: inline;
        position: relative; }
        #locations .inside ul li span:before {
          display: block;
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #1e3f59;
          position: absolute;
          left: -21px;
          top: 0;
          bottom: 0;
          margin: auto;
          transform: translateY(15%);
          opacity: .5; }
      #locations .inside ul li:not(:last-of-type) {
        margin-bottom: 7px; }

#music {
  overflow: auto;
  padding-bottom: 28px;
  color: #ffffff;
  background: url("../images/backgrounds/music.jpg") no-repeat center/cover; }
  #music h1 {
    margin-top: 46px; }
  #music .column {
    padding: 0;
    margin-top: 28px; }
    #music .column .block {
      overflow: auto; }
      #music .column .block h2 {
        margin-top: 0;
        text-align: center;
        font-size: 2.1em;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        position: relative; }
        #music .column .block h2:after {
          display: block;
          margin-top: 14px;
          content: '';
          background: #ffffff;
          opacity: .2;
          height: 2px; }
      #music .column .block ul {
        margin-top: 30px;
        margin-bottom: 44px; }
        #music .column .block ul li {
          padding-left: 67px;
          padding-right: 70px;
          text-indent: -67px;
          position: relative;
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1.71em; }
          #music .column .block ul li.playing .button .play, #music .column .block ul li:not(.playing) .button .pause {
            display: none; }
          #music .column .block ul li .button {
            position: relative;
            margin-left: 20px;
            margin-right: 27px;
            top: 2px;
            -webkit-transition: 0.1s;
            -moz-transition: 0.1s;
            -ms-transition: 0.1s;
            -o-transition: 0.1s;
            transition: 0.1s; }
            #music .column .block ul li .button svg {
              width: 20px;
              fill: white; }
          #music .column .block ul li:not(:hover):not(.playing) .button {
            opacity: .5; }
          #music .column .block ul li:not(:last-of-type) {
            margin-bottom: 2px; }
    @media screen and (max-width: 500px) {
      #music .column .block ul li {
        font-size: 1.3em !important; } }
    @media screen and (min-width: 992px) {
      #music .column:nth-of-type(1) {
        padding-right: 20px; }
      #music .column:nth-of-type(2) {
        padding-left: 20px; } }

#gallery {
  overflow: auto; }
  #gallery .ninesixzero {
    padding: 67px 0 80px 0;
    overflow: hidden; }
    #gallery .ninesixzero h1 {
      color: #3e2723;
      margin-bottom: 23px; }
    #gallery .ninesixzero .wrapper {
      position: relative;
      width: 100%; }
      #gallery .ninesixzero .wrapper .arrow.left {
        left: 0; }
      #gallery .ninesixzero .wrapper .arrow.right {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        right: 0; }
      #gallery .ninesixzero .wrapper .arrow {
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 33px;
        width: 21px; }
        #gallery .ninesixzero .wrapper .arrow svg {
          fill: #3e2723; }
        #gallery .ninesixzero .wrapper .arrow:not(:hover) {
          opacity: .5; }
      #gallery .ninesixzero .wrapper .slide {
        width: 100%;
        display: flex;
        justify-content: space-between;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        #gallery .ninesixzero .wrapper .slide .item {
          cursor: pointer;
          display: inline-block;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          width: 27.5%; }
          #gallery .ninesixzero .wrapper .slide .item .image {
            background: no-repeat center / cover;
            width: 100%;
            height: 0;
            padding-bottom: 100%; }
        @media screen and (max-width: 580px) {
          #gallery .ninesixzero .wrapper .slide {
            flex-direction: column;
            align-items: center; }
            #gallery .ninesixzero .wrapper .slide .item {
              width: 90%; }
              #gallery .ninesixzero .wrapper .slide .item:not(:last-of-type) {
                margin-bottom: 20px; } }
      #gallery .ninesixzero .wrapper .slides {
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        position: relative; }
        #gallery .ninesixzero .wrapper .slides .slide.unselected.left {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }
        #gallery .ninesixzero .wrapper .slides .slide.unselected.right {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%); }
        #gallery .ninesixzero .wrapper .slides .slide:first-of-type {
          position: relative; }
        #gallery .ninesixzero .wrapper .slides .slide:not(:first-of-type) {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0; }

#contact {
  overflow: auto;
  background: #ebebeb; }
  #contact .inside {
    max-width: 980px;
    padding: 29px 10px 32px 10px;
    display: flex;
    align-items: center; }
    #contact .inside .tag {
      padding: 0; }
      #contact .inside .tag h1 {
        text-align: left;
        color: #3e2723; }
    #contact .inside .data {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      padding: 0;
      overflow: hidden; }
      #contact .inside .data .left {
        color: #3e2723;
        position: relative;
        text-align: right;
        display: inline-block;
        padding-right: 27px; }
        #contact .inside .data .left .name {
          font-family: "Open Sans", sans-serif;
          font-size: 1.5em;
          font-weight: 700; }
        #contact .inside .data .left a {
          font-family: "Open Sans", sans-serif;
          font-size: 1.125em;
          font-weight: 400; }
          #contact .inside .data .left a i {
            margin-right: 14px; }
        #contact .inside .data .left .name, #contact .inside .data .left a {
          color: inherit;
          display: block; }
        #contact .inside .data .left:before {
          display: block;
          content: '';
          width: 2px;
          background: #1e3f59;
          opacity: .2;
          position: absolute;
          top: 2px;
          bottom: 0;
          right: -2px; }
      #contact .inside .data .right {
        display: block;
        padding-left: 32px; }
        #contact .inside .data .right .fb {
          display: flex;
          align-items: center;
          margin: 0; }
          #contact .inside .data .right .fb svg {
            width: 40px;
            fill: #1e3f59;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
          #contact .inside .data .right .fb:hover svg {
            background: #1e3f59;
            fill: #ebebeb; }
  @media screen and (max-width: 768px) {
    #contact .inside {
      flex-direction: column; }
      #contact .inside .tag h1 {
        text-align: center; }
      #contact .inside .data {
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        #contact .inside .data .left {
          margin-top: 20px;
          margin-bottom: 20px;
          text-align: left; }
          #contact .inside .data .left:before {
            display: none; }
        #contact .inside .data .right {
          padding-left: 0; } }

footer {
  overflow: auto;
  margin-bottom: 60px;
  background: #1e3f59;
  color: #ffffff;
  padding: 0; }
  footer .ninesixzero {
    max-width: 980px;
    padding: 20px 10px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    footer .ninesixzero h2 {
      font-size: 1em;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0; }
      footer .ninesixzero h2 b, footer .ninesixzero h2 a {
        font-weight: 700;
        color: inherit; }
      footer .ninesixzero h2:not(:last-of-type) {
        margin-bottom: 9px; }
    footer .ninesixzero .copyright, footer .ninesixzero .logo, footer .ninesixzero .authors {
      padding-top: 20px;
      padding-bottom: 20px; }
    footer .ninesixzero .logo svg {
      width: 194px;
      fill: #ffffff; }
    footer .ninesixzero .authors {
      text-align: right; }
  @media screen and (max-width: 768px) {
    footer .ninesixzero {
      flex-direction: column; }
      footer .ninesixzero .copyright, footer .ninesixzero .logo, footer .ninesixzero .authors {
        text-align: center; } }

music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #ffffff;
  z-index: 2;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25); }
  music-player .ninesixzero {
    position: relative;
    max-width: 980px;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    music-player .ninesixzero .section {
      padding: 0; }
  music-player #now_playing {
    padding-left: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    music-player #now_playing span {
      font-family: "Roboto", sans-serif;
      font-size: 1.125em;
      font-weight: 300;
      color: #a6a6a6;
      line-height: 1.4em; }
    music-player #now_playing b {
      line-height: 0.9em;
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      font-weight: 300;
      color: #1e3f59; }
  music-player #controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between; }
    music-player #controls .control {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #ffffff; }
      music-player #controls .control svg {
        fill: #1e3f59; }
      music-player #controls .control.playing {
        position: relative; }
        music-player #controls .control.playing .pause {
          position: absolute !important;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          visibility: hidden; }
        music-player #controls .control.playing:not(.paused) .play {
          visibility: hidden; }
        music-player #controls .control.playing:not(.paused) .pause {
          visibility: visible; }
  music-player #volume {
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
    position: relative; }
    music-player #volume i {
      display: flex;
      align-items: center;
      font-size: 1.7em;
      color: #1e3f59;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0; }
    music-player #volume .progressbar {
      cursor: pointer;
      margin-left: 33px;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100px;
      height: 100%;
      overflow: visible; }
      music-player #volume .progressbar .line {
        height: 4px;
        width: 100%;
        background: #cccccc;
        cursor: pointer;
        overflow: visible; }
        music-player #volume .progressbar .line .inside {
          overflow: visible;
          position: relative;
          background: #1e3f59;
          height: 100%; }
          music-player #volume .progressbar .line .inside:before {
            display: block;
            content: '';
            position: absolute;
            border-radius: 50%;
            top: -10px;
            right: -12px;
            width: 24px;
            height: 24px;
            background: #1e3f59;
            -webkit-transition: 0.1s;
            -moz-transition: 0.1s;
            -ms-transition: 0.1s;
            -o-transition: 0.1s;
            transition: 0.1s;
            -moz-transform: scale(0.67);
            -webkit-transform: scale(0.67);
            transform: scale(0.67); }
          music-player #volume .progressbar .line .inside:hover:before, music-player #volume .progressbar .line .inside.clicked:before {
            opacity: .5;
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1); }
          music-player #volume .progressbar .line .inside:after {
            display: block;
            content: '';
            position: absolute;
            border-radius: 50%;
            top: -1px;
            right: -3px;
            width: 6px;
            height: 6px;
            background: #cccccc; }
  @media screen and (max-width: 520px) {
    music-player #now_playing span {
      font-size: 1.2em; }
    music-player #now_playing b {
      font-size: 1.2em; }
    music-player #controls {
      width: 110px; }
      music-player #controls .control {
        width: 30px;
        height: 30px; }
    music-player #volume i {
      font-size: 1.3em; }
    music-player #volume .progressbar {
      margin-left: 18px;
      width: 80px; } }
  @media screen and (max-width: 400px) {
    music-player #now_playing span {
      font-size: 1em; }
    music-player #now_playing b {
      font-size: 1em; } }
  @media screen and (max-width: 350px) {
    music-player #volume .progressbar {
      width: 50px; } }

/*# sourceMappingURL=main.css.map */
